<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Download PDF File</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body class="container">
<h2>Download PDF File using Spring Boot</h2>
<a href="/downloadReceipt" class="btn btn-primary">Click Here to Download Your Receipt</a>&nbsp; <a
        href="/downloadQuotation" class="btn btn-primary">Click Here to Download Your quotation</a>
</body>
</html>